.content {
  border: 1px dotted red;
}

@media screen and (max-width: 1280px) {
  .content {
    border: 1px dotted blue;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    border: 1px dotted green;
  }
}

@media screen and (max-width: 768px) {
  .content {
    border: 1px dotted yellow;
  }
}
