.lead__title {
  max-width: 720px;
  max-height: 200px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
}
